{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class = "container">
        <div class="row">
            <div class="col-sm-8 blog-main">

                <h2 class="blog-post-title">EXPERIENCIA</h2>
                <br>

                {% comment %} FILA 1 {% endcomment %}
                <div class="row">
                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">
                        <div class="custom-column-header">2019 - Actualidad</div>
                        <div class="custom-column-content">
                            <ul class="list-group">
                                {% comment %} <li class="list-group-item"><i class="fa fa-check"></i> Cras justo odio</li> {% endcomment %}
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                        <i class="material-icons" style="font-size:14px" >work</i>
                                        Quantil S.A.S.
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    1 año, 5 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                    <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                    Consultor e investigador de tecnología para proyectos enfocados al área de ciencia de datos, matemáticas financieras y 
                                    minería de datos.
                                    
                                </li>
                            </ul>
                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>

                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">        
                        <div class="custom-column-header">Enero - Julio 2019</div>
                        <div class="custom-column-content">

                            <ul class="list-group">
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                    <i class="material-icons" style="font-size:14px" >work</i>
                                    Fintechlo
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    7 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                        <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                        Diseño, configuración y desarrollo de backend y frontend de un CMS WordPress para el despliegue del sitio web hospedado en Google Cloud Platform.
                                    
                                </li>
                            </ul>

                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">
                        <div class="custom-column-header">Junio - Dic. 2018</div>
                        <div class="custom-column-content">
                            <ul class="list-group">
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                    <i class="material-icons" style="font-size:14px" >work</i>
                                    Stamprints
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    7 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                        <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                        Diseño, configuración y desarrollo de backend y frontend de un CMS WordPress para el despliegue del sitio web hospedado en Google Cloud Platform.
                                    
                                </li>
                            
                            </ul>
                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>
                </div>

                {% comment %} FILA 2 {% endcomment %}
                <div class="row">
                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">
                        <div class="custom-column-header">Jun. 2018 - Ago. 2019</div>
                        <div class="custom-column-content">
                            <ul class="list-group">
                                {% comment %} <li class="list-group-item"><i class="fa fa-check"></i> Cras justo odio</li> {% endcomment %}
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                        <i class="material-icons" style="font-size:14px" >work</i>
                                        Freelance 1
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    1 año, 3 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                    <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                    Extracción de datos a diferentes sitios web para su posterior análisis. Se realizó por
                                    medio de técnicas de scraping web utilizando la librerı́a Beautiful Soup de Python en
                                    el entorno de trabajo interactivo Júpiter Notebook.
                                    
                                </li>
                            </ul>
                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>

                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">        
                        <div class="custom-column-header">Jun. 2018 - Ago. 2019</div>
                        <div class="custom-column-content">

                            <ul class="list-group">
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                    <i class="material-icons" style="font-size:14px" >work</i>
                                    Freelance 2
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    1 año,3 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                        <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                        Filtrado, limpieza y visualización de datos con Python sobre entorno de trabajo inter-
                                        activo Júpiter Notebook para diferentes proyectos. Estos proyectos se realizarón para
                                        poder tener la certificación de especialista en Python emitida por la universidad de
                                        Michigan en Coursera.
                                    
                                </li>
                            </ul>

                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">
                        <div class="custom-column-header">Jun. 2018 - Ago. 2019</div>
                        <div class="custom-column-content">
                            <ul class="list-group">
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                    <i class="material-icons" style="font-size:14px" >work</i>
                                    Freelance 3
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    1 año,3 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                        <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                        Laboratorios de Cloudera utilizando Hadoop, Spark, HDFS, HUE, IMPALA, desarrollo en Pyspark.                                    
                                </li>
                            
                            </ul>
                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>
                </div>


                {% comment %} FILA 3 {% endcomment %}
                <div class="row">


                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">        
                        <div class="custom-column-header">Nov. 2009 - Mar. 2011</div>
                        <div class="custom-column-content">

                            <ul class="list-group">
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                    <i class="material-icons" style="font-size:14px" >work</i>
                                    Comprador y Vendedor Profesional de Divisas Jorge Alejandro, Propietario y Administrador
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    1 año,5 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                        <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                        Oficina dedicada a la compra y venta profesional de divisas en efectivo.        
                                    
                                </li>
                            </ul>

                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>
                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">
                        <div class="custom-column-header">Abr. 2011 - Dic. 2017</div>
                        <div class="custom-column-content">
                            <ul class="list-group">
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                    <i class="material-icons" style="font-size:14px" >work</i>
                                    Comprador y Vendedor Profesional de Divisas Bag Money, Administrador
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    6 año,9 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                        <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                        Oficina dedicada a la compra y venta profesional de divisas en efectivo.
                                </li>
                            
                            </ul>
                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>

                    <div class="col-sm-12 col-md-4 nopadding">
                    <div class="custom-column">
                        <div class="custom-column-header">Jun. 2014 - Actualidad</div>
                        <div class="custom-column-content">
                            <ul class="list-group">
                                {% comment %} <li class="list-group-item"><i class="fa fa-check"></i> Cras justo odio</li> {% endcomment %}
                                <li class="list-group-item" style="font-size:16px"> 
                                
                                        <i class="material-icons" style="font-size:14px" >work</i>
                                        Multipagos Caypro, Propietario
                                    
                                </li>

                                <li class="list-group-item" style="font-size:14px">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:14px" ></span>
                                    6 año, 10 meses
                                </li>

                                <li class="list-group-item" style="font-size:14px"> 
                                    
                                    <span class="glyphicon glyphicon-console" aria-hidden="true" style="font-size:14px" ></span>
                                    Empresa dedicada a prestar servicios de recaudo de dineros para tercero mediante
                                    contratos con entidades financieras.
                                    
                                </li>
                            </ul>
                        </div>
                        {% comment %} <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div> {% endcomment %}
                    </div>
                    </div>
                </div>

                <nav>
                    <ul class="pager">
                        <li><a href="{% url 'habilidades' %}">Previo</a></li>
                        <li><a href="{% url 'formacad' %}">Siguiente</a></li>
                    </ul>
                </nav>
            

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

                {% comment %} <div class = "cv-header-sidebar">
                    <img src="/media/jorge_guevara.jpg" alt="Jorge Guevara" class = "image-center-sidebar">      
                </div>
                <div class = "center">
                    <h4>Jorge Ivan Guevara Pérez</h4>
                    <h5>Consultor TI</h5>
                </div> {% endcomment %}

            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->
    </div>
{% endblock %}