{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    <div class = "container">
        <div class="row">
            <div class="col-sm-8 blog-main">

                <h2 class="blog-post-title">CERTIFICADOS</h2>
                <br>
                
                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">API Security on Google Cloud's Apigee API Platform</p>
                            <p>Enero 2021</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://app.pluralsight.com/profile/jorge-ivan" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>PLURALSIGHT</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;"> API Design and Fundamentals of Google Cloud's Apigee API Platform</p>
                            <p>Diciembre 2020</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://app.pluralsight.com/profile/jorge-ivan" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>PLURALSIGHT</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">Applied Plotting, Charting & Data Representation in Python</p>
                            <p>Agosto 2019</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://www.coursera.org/account/accomplishments/verify/BGKV7RMWH94C" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>UNIVERSITY OF MICHIGAN - COURSERA</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">Introduction to Data Science in Python</p>
                            <p>Julio 2019</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://www.coursera.org/account/accomplishments/verify/SZFAVTC7TT49" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>UNIVERSITY OF MICHIGAN - COURSERA</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">Essential Math for Machine Learning: Python Edition</p>
                            <p>Junio 2019</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://courses.edx.org/certificates/e2d83cfe51c541d4ac29bf5f2b1b1fed" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>MICROSOFT - EDX</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">Code School: The Sequel to SQL</p>
                            <p>Septiembre 2018</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://app.pluralsight.com/profile/jorge-ivan" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>PLURALSIGHT</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">Code School: Try SQL</p>
                            <p>Agosto 2018</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://app.pluralsight.com/profile/jorge-ivan" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>PLURALSIGHT</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">Blockchain for Business - Una introducción a Hyperledger Technologies</p>
                            <p>Abril 2018</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://courses.edx.org/certificates/f0bd1cef8b0845f799a2b4a6b912a89a" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>The Linux Foundation - EDX</p></div>
                </div>

                <div class="panel panel-default row">
                    <div class="panel-body-cer">
                        <div class="col-sm-7 panel-body-marin-col1">
                            <p style="padding-bottom: 0px; margin-bottom: 0px;">Introducción a la programación en Python I: Aprendiendo a programar con Python</p>
                            <p>Febrero 2019</p>
                        </div>
                        <div class="col-sm-5 panel-body-marin-col2">
                            <div class="container-but">
                                <div class = "center-but">
                                    <a href="https://www.coursera.org/account/accomplishments/verify/66UZBEUJX47C" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Ver Certificado</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="panel-footer" style="background: #3B3B3B; color: #FFFFFF"><p>Pontificia Universidad Católica de Chile - EDX</p></div>
                </div>

                <nav>
                <ul class="pager">
                    <li><a href="{% url 'formacion_academica_ce' %}">Previo</a></li>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                </ul>
                </nav>
            

            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

                {% comment %} <div class = "cv-header-sidebar">
                    <img src="/media/jorge_guevara.jpg" alt="Jorge Guevara" class = "image-center-sidebar">      
                </div>
                <div class = "center">
                    <h4>Jorge Ivan Guevara Pérez</h4>
                    <h5>Consultor TI</h5>
                </div> {% endcomment %}

            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->
    </div>
{% endblock %}